body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#car-logo { width: 300px; height: 450px; background: url('McLarenSpeedTail_Image.png') no-repeat center/100% }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 80px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: fixed; width: 100%; bottom: 0; margin-bottom: 26px; line-height: 38px; display: flex; justify-content: center; align-items: center;}
#enterar:enabled { width: 210px; height: 53px; padding: 0; border: none; background: url('ViewInAR.png') no-repeat center/100% }
#enterar:disabled { width: 210px; height: 53px; padding: 0; border: none; pointer-events: none; background: url('ARdisabled.png') no-repeat center/100% }
